<!DOCTYPE html>
<html>

<head>
  <title>Battleground X</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="js/remaining_timer.js"></script>
  <script src="js/version.js"></script>
  <script src="js/audio.js"></script>
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/release.css">
</head>

<body onload="CountDownTimer('02/25/2024 09:00 AM', 'countdown'); ">
  <div class="noflow">
    <div class="topnav">
      <a href="release" class="active disable">Release</a>
      <a href="trynow">Try Now!</a>
    </div>
    <div class="w3-display-middle">
      <div class="w3-animate-top">
        <h1 class="w3-jumbo">Project Battleground X !</h1>
        <hr class="w3-border-white" />
        <p class="w3-xlarge w3-center" style="display: inline-block;">Remaining time for publish: &nbsp;
        <div class="w3-xlarge w3-center" style="display:inline-block; color: black;" id="countdown"></div>
        </p>
      </div>
    </div>
    <div class="w3-display-bottomleft w3-padding-large w3-xlarge">
      <img class="disable image_op" src="images/battle-icon.png" style="height:20vw; max-height:200px;">
    </div>
    <div class="w3-display-bottomright w3-padding-large ">
      <a href="https://sarsyazilim.com.tr">
        <img class="image_op" src="images/sars.jpg" style="height:20vw; max-height:200px;">
      </a>
    </div>
    <div class="background" />
  </div>
</body>

</html>