<!DOCTYPE html>
<html>

<head>
  <title>Battleground X</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/general.css">
  <link rel="stylesheet" href="styles/topnav.css">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/trynow.css">
</head>

<body>

  <div class="background" />

  <div class="topnav">
    <a href="release">Release</a>
    <a href="trynow" class="active disable">Try Now!</a>
  </div>

  <div class="w3-display-middle" style="padding: 30px;">
    <div class="w3-animate-top">
      <div class="item">
        <a class="item_lnk" target="_blank" href="share/Pc.rar">
          <h3 class="item_txt">Download for WINDOWS</h3>
          <img class="item_img" src="https://www.freeiconspng.com/uploads/cute-ball-windows-icon-png-16.png">
        </a>
      </div>
      <div class="item">
        <a class="item_lnk" target="_blank" href="share/Android.rar">
          <h3 class="item_txt">Download for ANDROID</h3>
          <img class="item_img" src="https://cdn-icons-png.flaticon.com/512/518/518705.png">
        </a>
      </div>
    </div>
  </div>

</body>

</html>