<!DOCTYPE html>
<html>

<head>
  <title>Battleground X</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.ico?v=1.1">
  <link rel="stylesheet" href="styles/trynow.css">
</head>

<body>
  <div class="w3-top op">
    <div class="w3-row w3-large">
      <div class="w3-col s3">
        <div class=" w3-block">&nbsp;</div>
      </div>
      <div class="w3-col s3">
        <a href="register" onmouseenter="" class="w3-button w3-block">Register for beta</a>
      </div>
      <div class="w3-col s3">
        <a href="release" class="w3-button w3-block">Release date</a>
      </div>
      <div class="w3-col s3">
        <div class=" w3-block">&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="bgimg w3-display-container w3-animate-opacity  w3-text-white custom">
    <div class="w3-display-middle  ">
      <h1 class="w3-animate-top w3-text-white" style="text-align: left;">Registered succesfully</h1>
      <h2 class="w3-animate-bottom">We sent an email to you.<br>You need to verify your account. And be careful. Once you verified you can no longer register with that email.</h2>
    </div>
  </div>
</body>

</html>