body,
html {
  height: 100%
}

.bgimg {
  background-image: url('../images/island.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.disable {
  pointer-events: none;
}

.op {
  opacity: .5;
  background-color: white;
  transition: ease-in .5s;
}

.op:hover {
  opacity: .75;
  background-color: white;
  transition: ease-in .5s;
}

@font-face {
  font-family: "Square Black";
  src: url("../fonts/Square-Black.ttf") format("truetype");
  font-size: x-large;
}

form input[type=text],input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type=submit]:hover {
  background-color: #45a049;
}

div.custom {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  opacity: .9;
  transition: ease-in .3s;
}

div.custom:hover { 
  opacity: 1;
  transition: ease-in .3s;
}

canvas{
  pointer-events:none;
}


#captcha {
display: inline-block;
position: relative;
animation:animated_div 5s infinite;
opacity: 0.5;
}

@keyframes animated_div
{
0% {left:0vw;}
20% {left:5vw;}
40% {left:10vw;}
60% {left:15vw;}
80% {left:20vw;}
100% {left:0vw;}
}

