body,
html {
  height: 100%
}

.child {
   width: 100%;
  height: 100%;
  background-color: black;  
  background-image: url('../images/island.jpg');
  background-position: center;
  background-size: cover;
  
animation:animated_background 30s infinite;
}

@keyframes animated_background
{
0% {left:50%; scale: 100%;}
20% {left:55%;scale: 120%;}
40% {left:80%;scale: 130%;}
60% {left:70%;scale: 140%;}
80% {left:55%;scale: 120%;}
100% {left:50%; scale: 100%;}
}

.parent {
  min-height: 100%;
}

.disable {
  pointer-events: none;
}

.op {
  opacity: .5;
  background-color: white;
  transition: ease-in .5s;
}

.op:hover {
  opacity: .75;
  background-color: white;
  transition: ease-in .5s;
}

@font-face {
  font-family: "Square Black";
  src: url("../fonts/Square-Black.ttf") format("truetype");
  font-size: x-large;
}